* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.flex {
    flex-direction: column;
}

#navbar {
    padding: 30px 0;
}

#navbar .container {
    flex-direction: column;
}


.grid-box-1,
.grid-box-2,
.grid-box-3, 
.grid-box-4,
.grid-box-5,
.grid-box-6 {
    grid-column: 1;
    
}

.grid-box-1 {
    grid-row: 1;
}

.grid-box-2 {    
    grid-row: 2;   
}

.grid-box-3 {   
    grid-row: 3;   
}

.grid-box-4 {   
    grid-row: 4;
}

.grid-box-5 {    
    grid-row: 5;
}

.grid-box-6 {    
    grid-row: 6;   
}

.grid-box-1,
.grid-box-4,
.grid-box-5 {
    padding: 80px 30px;
}


#mainfooter {
    text-align: center;
}

#mainfooter img {
    margin: 0 auto;
    margin-bottom: 20px;
}

#mainfooter .flex {
    justify-content: space-between;
    padding: 30px 0;
}
