:root {
    --color-primary:#114570;
    --color-primary-dark:#0b2a44;

    --color-secundary:#1be1e6;
    --color-secundary-dark:#009aa3;

    --color-gray:#ccc;
    --color-gray-light:#f1f1f1;
    --color-gray-dark:#333;

}