@import "colors.css";
@import "common.css";
@import "header.css";
@import "navbar.css";
@import "aside.css";
@import "content.css";
@import "footer.css";
@import "flipcard.css";

.image__logo {
    width: 300px;
}

.mi__logo {
    width: 50px;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

#hamburguer-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    
}

#hamburguer-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;    
}

.mobile-menu {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    display: none;
}


@media screen and (max-width: 700px){
    .row {
        flex-direction: column;
    }
    
    .navbar {
        flex-direction: column;
    } 

    .image__logo {
        width: 200px;
    }

    .fa-solid {
        display: initial;
    }      
    
    .navbar {
        opacity: 0;
        visibility: hidden;             
    }

    .abrir-menu,
    .cerrar-menu {
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 1.25rem;
}

    .navbar.visible {
        opacity: 1;
        visibility: visible;
    }
    
} 