
/* GRID */

.wrapper {
    grid-template-columns: 1fr;
 }

 .item1,
 .item2,
 .item3,
 .item4,
 .item5,
 .item6,
 .item7 {
     grid-column: 1;
 }

.item1 {    
    grid-row: 1;
    
}

.item2 {    
    grid-row: 2;
   
}

.item3 {
    grid-row: 3;
    
}

.item4 {   
    grid-row: 4;
    
}

.item5 {    
    grid-row: 5;
   
}

.item6 {    
    grid-row: 6;
   
}

.item7 {   
    grid-row: 7;
    
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.2s;
}

/* About */

#about {    
    padding-top: 50px;
    padding-bottom: 50px;         
}

.I_1 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    padding-bottom: 30px;
}

.T_1 {
    grid-column: 1 /-1;    
    grid-row: 2;    
}

.P_1 {
    grid-column: 1 /-1;    
    grid-row: 3;
}

.P_2 {
    grid-column: 1 /-1;    
    grid-row: 4;
}

#about p {    
    font-size: 1.3rem;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#about h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.item {
    animation: show linear;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;

}